![Algoritmos e Estrutura de Dados I](AED1_banner.jpg)

## <font color='blue'>Aula 12 - Algoritmos e Estrutura de Dados 1 </font>
## <font color='blue'>Estruturas de Dados (Listas / Tuplas / Dicionários)</font>

In [1]:
# Versão da Linguagem Python
from platform import python_version
print('Versão da Linguagem Python Usada Neste Jupyter Notebook:', python_version())

Versão da Linguagem Python Usada Neste Jupyter Notebook: 3.12.7

## <font color='blue'>LISTAS...</font>
---
### Trabalhando com Listas

In [4]:
lista_de_numeros = [1, 2, 3, 4, 5, 6, 7, 8]
type(lista_de_numeros)

list

In [ ]:
lista_misturada = ['cachorro', 88.23, 6, True, "A", [1, 2, 3]]
type(lista_misturada)

In [5]:
lista_vazia = []
type(lista_vazia)

list

In [17]:
lista1 = [1, 3, 5 ,7]
lista2 = [2, 4, 6, 8]
lista3 = [1, 3, 5, 7]

In [14]:
frase = "Texto aqui"

lista_caracteres = list(frase)
lista_caracteres

['T', 'e', 'x', 't', 'o', ' ', 'a', 'q', 'u', 'i']

In [16]:
lista_letras = ['a', 'b', 'c']

lista_letras + lista_caracteres

['a', 'b', 'c', 'T', 'e', 'x', 't', 'o', ' ', 'a', 'q', 'u', 'i']

In [25]:
lista1[0]
lista_caracteres[2]
lista1[::-1]
lista_caracteres[::-1]

['i', 'u', 'q', 'a', ' ', 'o', 't', 'x', 'e', 'T']

In [29]:
lista1[0] = 9
lista1

lista3 = lista1
lista3

[9, 3, 5, 7]

In [33]:
sorted(lista3)

[3, 5, 7, 9]

In [38]:
lista_logica = [1, 1, 1, 1, 1]
all(lista_logica)

True

In [43]:

lista_logica

[1, 1, 1, 1, 1, 69]

In [59]:
cidades = ["Sorocaba", "São Paulo", "Rio de Janeiro", "New York"]

cidades.append("Oslo")

cidades.count("Itu")

cidades.index("Rio de Janeiro")

cidades.remove("New York")

cidades

cidades.sort()
cidades

cidades.reverse()
cidades

['São Paulo', 'Sorocaba', 'Rio de Janeiro', 'Oslo']

In [66]:
lista_cidades = []
while True:
    cidade = input("Digite o nome de uma cidade")
    if cidade == 'sair':
        break
    else:
        lista_cidades.append(cidade)

if len(lista_cidades) > 0:
    lista_cidades.sort()

    for c in lista_cidades:
        print(c)

Itu
Sorocaba
São Paulo

In [67]:
# Criando uma lista
lista_1 = ["arroz, frango, tomate, leite"]

In [68]:
type(lista_1)

list

In [69]:
# Imprimindo a lista
print(lista_1)

['arroz, frango, tomate, leite']

In [70]:
# Criando outra lista
lista_2 = ["arroz", "frango", "tomate", "leite"]

In [71]:
type(lista_2)

list

In [72]:
# Imprimindo a lista
print(lista_2)

['arroz', 'frango', 'tomate', 'leite']

In [73]:
# Criando lista
lista_3 = [23, 100, "Cientista de Dados"]

In [74]:
type(lista_3)

list

In [75]:
# Imprimindo
print(lista_3)

[23, 100, 'Cientista de Dados']

In [76]:
# Atribuindo cada valor da lista a uma variável.
item1 = lista_3[0]
item2 = lista_3[1]
item3 = lista_3[2]

In [77]:
# Imprimindo as variáveis
print(item1, item2, item3)

23 100 Cientista de Dados

In [78]:
alunos = ['ana', 'pedro', 'maria']
notas = [9, 3.5, 6]

In [79]:
for i in range(len(alunos)):
    print(f"O(a) estudante {alunos[i]} teve nota {notas[i]}!")

O(a) estudante ana teve nota 9!
O(a) estudante pedro teve nota 3.5!
O(a) estudante maria teve nota 6!

#### Atualizando Um Item da Lista

In [80]:
lista_2

['arroz', 'frango', 'tomate', 'leite']

In [81]:
# Imprimindo um item da lista
lista_2[2]

'tomate'

In [82]:
# Atualizando um item da lista
lista_2[2] = "chocolate"

In [83]:
# Imprimindo lista alterada
lista_2

['arroz', 'frango', 'chocolate', 'leite']

#### Deletando Um Item da Lista

In [84]:
lista_2

['arroz', 'frango', 'chocolate', 'leite']

In [85]:
# Não é possível deletar um item que não existe na lista. Vai gerar erro index out of range
del lista_2[4]

IndexError: list assignment index out of range

In [86]:
# Deletando um item específico da lista
del lista_2[3]

In [87]:
# Imprimindo o item com a lista alterada
lista_2

['arroz', 'frango', 'chocolate']

#### Listas de Listas (Listas Aninhadas)

Listas de listas são matrizes em Python.

In [88]:
# Criando uma lista de listas
listas = [ [1,2,3], [10,15,14], [10.1,8.7,2.3] ]

In [89]:
# Imprimindo a lista
print(listas)

[[1, 2, 3], [10, 15, 14], [10.1, 8.7, 2.3]]

In [90]:
# Atribuindo um item da lista a uma variável
a = listas[0]

In [91]:
listas[0][1]

2

In [92]:
a

[1, 2, 3]

In [93]:
b = a[0]

In [94]:
b

1

In [95]:
list1 = listas[1]

In [96]:
list1

[10, 15, 14]

In [97]:
valor_1_0 = list1[0]

In [98]:
valor_1_0

10

In [99]:
valor_1_2 = list1[2]

In [100]:
valor_1_2

14

In [101]:
list2 = listas[2]

In [102]:
list2

[10.1, 8.7, 2.3]

In [103]:
valor_2_0 = list2[0]

In [104]:
valor_2_0

10.1

#### Operações com Listas

In [105]:
# Criando uma lista aninhada (lista de listas - Matrizes)
listas = [[1,2,3], [10,15,14], [10.1,8.7,2.3]]

In [106]:
listas

[[1, 2, 3], [10, 15, 14], [10.1, 8.7, 2.3]]

In [107]:
# Atribuindo à variável a o primeiro valor da primeira lista
a = listas[0][0]

In [108]:
a

1

In [109]:
b = listas[1][2]

In [110]:
b

14

In [111]:
c = listas[0][2] + 10

In [112]:
c

13

In [113]:
d = 10

In [114]:
d

10

In [115]:
e = d * listas[2][0]

In [116]:
e

101.0

#### Concatenando Listas

In [117]:
lista_s1 = [34, 32, 56]

In [118]:
lista_s1

[34, 32, 56]

In [119]:
lista_s2 = [21, 90, 51]

In [120]:
lista_s2

[21, 90, 51]

In [121]:
# Concatenando listas
lista_total = lista_s1 + lista_s2

In [122]:
lista_total

[34, 32, 56, 21, 90, 51]

### Operador in

In [123]:
# Criando uma lista
lista_teste_op = [100, 2, -5, 3.4]

In [124]:
# Verificando se o valor 10 pertence a lista
print(10 in lista_teste_op)

False

In [125]:
# Verificando se o valor 100 pertence a lista
print(100 in lista_teste_op)

True

### Funções Built-in

In [126]:
lista_s1.

SyntaxError: invalid syntax (2777343514.py, line 1)

![Listas](listas.jpg)

In [127]:
# Criando uma lista
lista_numeros = [10, 20, 50, -3.4]

In [128]:
# Função len() retorna o comprimento da lista
len(lista_numeros)

4

In [129]:
# Função max() retorna o valor máximo da lista
max(lista_numeros)

50

In [130]:
# Função min() retorna o valor mínimo da lista
min(lista_numeros)

-3.4

In [131]:
# Criando uma lista
lista_formacoes_dsa = ["Analista de Dados", "Cientista de Dados", "Engenheiro de Dados"]

In [132]:
lista_formacoes_dsa

['Analista de Dados', 'Cientista de Dados', 'Engenheiro de Dados']

In [133]:
# Adicionando um item à lista
lista_formacoes_dsa.append("Engenheiro de IA")

In [134]:
lista_formacoes_dsa

['Analista de Dados',
 'Cientista de Dados',
 'Engenheiro de Dados',
 'Engenheiro de IA']

In [135]:
lista_formacoes_dsa.append("Engenheiro de IA")

In [136]:
lista_formacoes_dsa

['Analista de Dados',
 'Cientista de Dados',
 'Engenheiro de Dados',
 'Engenheiro de IA',
 'Engenheiro de IA']

In [137]:
lista_formacoes_dsa.count("Engenheiro de IA")

2

In [138]:
# Criando uma lista vazia
a = []

In [139]:
print(a)

[]

In [140]:
type(a)

list

In [141]:
a.append(10)

In [142]:
a

[10]

In [143]:
a.append(50)

In [144]:
a

[10, 50]

In [145]:
old_list = [1,2,5,10]

In [146]:
new_list = []

In [147]:
# Copiando os itens de uma lista para outra
for item in old_list:
    new_list.append(item)

In [148]:
lista = []
while True:
    n = int(input("Digite um valor (-1 para sair): "))
    if n == -1:
        break
    lista.append(n)

print(lista)

[]

In [149]:
new_list

[1, 2, 5, 10]

In [150]:
cidades = ['Recife', 'Manaus', 'Salvador']
cidades.extend(['Fortaleza', 'Palmas'])
print (cidades)

['Recife', 'Manaus', 'Salvador', 'Fortaleza', 'Palmas']

In [151]:
cidades.index('Salvador')

2

Lembre-se: em Python o índice começa por 0!

In [152]:
cidades.index('Rio de Janeiro')

ValueError: 'Rio de Janeiro' is not in list

In [153]:
cidades

['Recife', 'Manaus', 'Salvador', 'Fortaleza', 'Palmas']

In [154]:
cidades.insert(2, 110)

In [155]:
cidades

['Recife', 'Manaus', 110, 'Salvador', 'Fortaleza', 'Palmas']

In [156]:
# Remove um item da lista
cidades.remove(110)

In [157]:
cidades

['Recife', 'Manaus', 'Salvador', 'Fortaleza', 'Palmas']

In [158]:
# Reverte a lista
cidades.reverse()

In [159]:
# Imprime a lista
cidades

['Palmas', 'Fortaleza', 'Salvador', 'Manaus', 'Recife']

In [160]:
x = [3, 4, 2, 1]

In [161]:
x

[3, 4, 2, 1]

In [162]:
# Ordena a lista
x.sort()

In [163]:
x

[1, 2, 3, 4]

## <font color='blue'>TUPLAS...</font>
---
### Trabalhando com Tuplas

In [165]:
montadoras = ("Honda", "Toyota", "Subaru")
type(montadoras)

tuple

In [182]:
tupla1 = (2, 0, 1, 4)
tupla2 = (2, 0, 1, 9)

tupla1 + tupla2
tupla1 == tupla2

0 in tupla2

True

In [184]:
navegadores = "Vikings"

texto_para_tupla = tuple(navegadores)
texto_para_tupla

('V', 'i', 'k', 'i', 'n', 'g', 's')

In [186]:
lista1 = [1, "Texto", 2.45]

lista_para_tupla = tuple(lista1)
lista_para_tupla

(1, 'Texto', 2.45)

In [202]:
letras = ('a', 'b', 'c')
numeros = (1, 2, 3)

tupla_aninhada = ((letras), (numeros))
tupla_aninhada

TypeError: tuple.count() takes exactly one argument (0 given)

In [204]:
lista_idades = []

while True:
    idade = int(input("Digite uma idade"))
    if idade == -1:
        break
    else:
        lista_idades.append(idade)

tupla_idades = tuple(lista_idades)

quantidade_de_idades_digitadas = len(tupla_idades)
media_idades = (sum(tupla_idades))/quantidade_de_idades_digitadas

print(quantidade_de_idades_digitadas)
print(media_idades)

2
7.5

In [167]:
# Imprimindo a tupla
tupla1 = ()
tupla1

()

In [168]:
# Criando uma tupla
tupla1 = ("Geografia", 23, "Elefantes", 9.8, 'Python')

In [169]:
# Tuplas não suportam append()
tupla1.append("Chocolate")

AttributeError: 'tuple' object has no attribute 'append'

In [170]:
# Tuplas não suportam delete de um item específico
del tupla1["Elefantes"]

TypeError: 'tuple' object does not support item deletion

In [171]:
# Tuplas podem ter um único item
tupla1 = ("Chocolate")

In [172]:
tupla1

'Chocolate'

In [173]:
tupla1 = ("Geografia", 23, "Elefantes", 9.8, 'Python')

In [174]:
tupla1[0]

'Geografia'

In [175]:
# Verificando o comprimento da tupla
len(tupla1)

5

In [176]:
# Slicing, da mesma forma que se faz com listas
tupla1[1:]

(23, 'Elefantes', 9.8, 'Python')

In [177]:
tupla1.index('Elefantes')

2

In [178]:
# Tuplas não suportam atribuição de item
tupla1[1] = 21

TypeError: 'tuple' object does not support item assignment

In [190]:
# Deletando a tupla
del tupla1

In [191]:
tupla1

NameError: name 'tupla1' is not defined

In [192]:
# Criando uma tupla
t2 = ('A', 'B', 'C')

In [193]:
t2

('A', 'B', 'C')

In [194]:
# Tuplas não suportam atribuição de item
t2[0] = 'D'

TypeError: 'tuple' object does not support item assignment

In [195]:
# Usando a função list() para converter uma tupla para lista
lista_t2 = list(t2)

In [196]:
type(t2)

tuple

In [197]:
type(lista_t2)

list

In [198]:
lista_t2

['A', 'B', 'C']

In [199]:
lista_t2.append('D')

In [200]:
# Usando a função tuple() para converter uma lista para tupla
t2 = tuple(lista_t2)

In [201]:
t2

('A', 'B', 'C', 'D')

### Funções Built-in

![Tuplas](tuplas.jpg)

## <font color='blue'>DICIONÁRIOS...</font>
---
### Trabalhando com Dicionários

![Dicionários](dicionarios.jpg)

In [209]:
carros = {1:"Supra", 2:"Skyline", 3:"Lancer"}
carros
frutas = {'m' : "Maçã", 'b': "Banana", "l": "Laranja"}

carros == frutas

False

In [211]:
nums = dict(um=1, dois=2, tres=3)
nums

{'um': 1, 'dois': 2, 'tres': 3}

In [214]:
dic1 = dict([("ana", 123), ("pedro", 456), ("joao", 789)])
dic1

{'ana': 123, 'pedro': 456, 'joao': 789}

In [219]:
dic1['ana']

dic1['mario'] = 123

dic1['mario']

123

In [222]:
presidentes = {'Deodoro': 1889, 'Prudente': 1894, 'Washington': 1926, 'Vargas': 1930, 'Janio': 1961}

5

In [225]:
dic_logico = {0: True, 1: False, 3: True}
any(dic_logico)
all(dic_logico)

False

In [230]:
sorted(presidentes)

sorted(presidentes, reverse=True)

sorted(presidentes.values())

sorted(presidentes.items())

[('Deodoro', 1889),
 ('Janio', 1961),
 ('Prudente', 1894),
 ('Vargas', 1930),
 ('Washington', 1926)]

In [254]:
filmes = {'Avatar': 2009, 'Titanic': 1997, 'Star Wars': 2015}

filmes_novo = filmes.fromkeys(filmes, 2000)

filmes_novo.get("Pulp Fiction", 1900)

filmes.items()

#filmes.values()

#filmes.keys()

filmes.update({'Frozen': 2013})

filmes

filmes.setdefault('Clube da Luta', 1999)

filmes

filmes.pop('Frozen')

filmes

filmes.popitem()

filmes

{'Avatar': 2009, 'Titanic': 1997, 'Star Wars': 2015}

In [262]:
aptos = {}
while True:
    num_apto = int(input("Digite o número do apartamento"))
    
    if num_apto == -1:
        break
    else:
        proprietario = input("Digite o nome do proprietário")
        aptos.update({num_apto: proprietario})

predio = dict(sorted(aptos.items()))

for c, v in predio.items():
    print(f"{c} - {v}")


print(f"Foram cadastradas {len(predio)} apartamentos")

32 - Claudio
69 - Marco
420 - Flavio
Foram cadastradas 3 apartamentos

In [212]:
# Isso é uma lista
estudantes_lst = ["Pedro", 24, "Ana", 22, "Ronaldo", 26, "Janaina", 25]

In [263]:
estudantes_lst

['Pedro', 24, 'Ana', 22, 'Ronaldo', 26, 'Janaina', 25]

In [264]:
type(estudantes_lst)

list

In [265]:
# Isso é um dicionário
estudantes_dict = {"Pedro":24, "Ana":22, "Ronaldo":26, "Janaina":25}

In [266]:
estudantes_dict

{'Pedro': 24, 'Ana': 22, 'Ronaldo': 26, 'Janaina': 25}

In [267]:
type(estudantes_dict)

dict

In [268]:
estudantes_dict["Pedro"]

24

In [269]:
estudantes_dict["Marcelo"] = 23

In [270]:
estudantes_dict["Marcelo"]

23

In [271]:
estudantes_dict

{'Pedro': 24, 'Ana': 22, 'Ronaldo': 26, 'Janaina': 25, 'Marcelo': 23}

In [272]:
estudantes_dict.clear()

In [273]:
estudantes_dict

{}

In [274]:
del estudantes_dict

In [275]:
estudantes_dict

NameError: name 'estudantes_dict' is not defined

In [276]:
estudantes = {"Pedro":24, "Ana":22, "Ronaldo":26, "Janaina":25}

In [277]:
estudantes

{'Pedro': 24, 'Ana': 22, 'Ronaldo': 26, 'Janaina': 25}

In [278]:
len(estudantes)

4

In [279]:
estudantes.keys()

dict_keys(['Pedro', 'Ana', 'Ronaldo', 'Janaina'])

In [280]:
estudantes.values()

dict_values([24, 22, 26, 25])

In [281]:
estudantes.items()

dict_items([('Pedro', 24), ('Ana', 22), ('Ronaldo', 26), ('Janaina', 25)])

In [282]:
estudantes2 = {"Camila":27, "Adriana":28, "Roberta":26}

In [283]:
estudantes2

{'Camila': 27, 'Adriana': 28, 'Roberta': 26}

In [284]:
estudantes.update(estudantes2)

In [285]:
estudantes

{'Pedro': 24,
 'Ana': 22,
 'Ronaldo': 26,
 'Janaina': 25,
 'Camila': 27,
 'Adriana': 28,
 'Roberta': 26}

In [286]:
dic1 = {}

In [287]:
dic1

{}

In [288]:
dic1["chave_um"] = 2

In [289]:
print(dic1)

{'chave_um': 2}

In [290]:
dic1[10] = 5

In [291]:
dic1

{'chave_um': 2, 10: 5}

In [292]:
dic1[9.13] = "Python"

In [293]:
dic1

{'chave_um': 2, 10: 5, 9.13: 'Python'}

In [294]:
dic1["teste"] = 5

In [295]:
dic1

{'chave_um': 2, 10: 5, 9.13: 'Python', 'teste': 5}

In [296]:
dict1 = {}

In [297]:
dict1

{}

In [298]:
dict1["teste"] = 10

In [299]:
dict1["key"] = "teste"

In [300]:
# Atenção, pois chave e valor podem ser iguais, mas representam coisas diferentes.
dict1

{'teste': 10, 'key': 'teste'}

In [301]:
dict2 = {}

In [302]:
dict2["key1"] = "Data Science"

In [303]:
dict2["key2"] = 10

In [304]:
dict2["key3"] = 100

In [305]:
dict2

{'key1': 'Data Science', 'key2': 10, 'key3': 100}

In [306]:
a = dict2["key1"]

In [307]:
b = dict2["key2"]

In [308]:
c = dict2["key3"]

In [309]:
a, b, c

('Data Science', 10, 100)

In [310]:
# Dicionário de listas
dict3 = {'chave1':1230, 'chave2':[22,453,73.4], 'chave3':['picanha', 'fraldinha', 'alcatra']}

In [311]:
dict3

{'chave1': 1230,
 'chave2': [22, 453, 73.4],
 'chave3': ['picanha', 'fraldinha', 'alcatra']}

In [312]:
dict3['chave2']

[22, 453, 73.4]

In [313]:
# Acessando um item da lista, dentro do dicionário
dict3['chave3'][0].upper()

'PICANHA'

In [314]:
# Operações com itens da lista, dentro do dicionário
var1 = dict3['chave2'][0] - 2

In [315]:
var1

20

In [316]:
# Duas operações no mesmo comando, para atualizar um item dentro da lista
dict3['chave2'][0] -= 2

In [317]:
dict3

{'chave1': 1230,
 'chave2': [20, 453, 73.4],
 'chave3': ['picanha', 'fraldinha', 'alcatra']}

#### Criando Dicionários Aninhados

In [318]:
# Criando dicionários aninhados
dict_aninhado = {'key1':{'key2_aninhada':{'key3_aninhada':'Dict aninhado em Python'}}}

In [319]:
dict_aninhado

{'key1': {'key2_aninhada': {'key3_aninhada': 'Dict aninhado em Python'}}}

In [320]:
dict_aninhado['key1']['key2_aninhada']['key3_aninhada']

'Dict aninhado em Python'

### Funções Built-in

![Dicionários](dict.jpg)

## <font color='blue'>EXERCÍCIOS...</font>
---
### Exercícios sobre Listas

1. Faça um algoritmo que carregue um vetor de 10 elementos numéricos inteiros. Após a finalização da entrada, o algoritmo deve escrever o mesmo vetor, na ordem inversa de entrada.

In [4]:
lista_nums = []

for i in range(0, 11):
    numero = int(input("Digite um número: "))
    lista_nums.append(numero)

lista_ordenada = sorted(lista_nums)
print(lista_ordenada[::-1])

Digite um número:  3
Digite um número:  6
Digite um número:  5
Digite um número:  1
Digite um número:  2
Digite um número:  7
Digite um número:  8
Digite um número:  9
Digite um número:  2
Digite um número:  4
Digite um número:  8

[9, 8, 8, 7, 6, 5, 4, 3, 2, 2, 1]

2. Faça um algorimto que carregue um vetor de 5 elementos numéricos inteiros. Após a finalização da entrada, o algoritmo deve escrever o maior valor e sua posição.

In [5]:
maior_valor = 0
lista_num = []

for i in range(0, 5):
    num = int(input("Digite um número: "))

    lista_num.append(num)
    if num > maior_valor:
        maior_valor = num

pos_maior_valor = lista_num.index(maior_valor)

print(f"O maior número é {maior_valor} e sua posição é {pos_maior_valor}")
print(lista_num)

O maior número é 8 e sua posição é 3
[5, 7, 1, 8, 3, 4]

3. Faça algoritmo que carregue dois vetores (listas) de cinco elementos numéricos cada um e mostre um vetor resultante na intercalação desses dois vetores

In [6]:
v1 = []
v2 = []

print("Digite 5 elementos para primeiro vetor: ")
for i in range(5):
    num = int(input(f"Número {i + 1}: "))
    v1.append(num)

print("Digite 5 elementos para primeiro vetor: ")
for i in range(5):
    num = int(input(f"Número {i + 1}: "))
    v2.append(num)

v_res = []

for i in range(5):
    v_res.append(v1[i])
    v_res.append(v2[i])


print(v_res)

Digite 5 elementos para primeiro vetor:
Digite 5 elementos para primeiro vetor:
[1, 5, 2, 4, 3, 3, 4, 2, 5, 1]

In [7]:
# Exemplo de geração de números aleatórios (randômicos) entre 1 e 60
from random import randint
a = randint(1, 60)
print(a)

52

In [8]:
# Exemplo de geração de 10 jogadas de dados
from random import randint
# Gerando 10 jogadas
for i in range (0,10):
    lado = randint(1, 6)
    print(lado, end=" ")

1 2 6 6 5 2 3 5 5 2

4. Faça um Algoritmo que simule 6000 jogadas de um dado de 6 faces. Para simular o resultado utilize a função randint  Ao final, mostre a frequência de sorteio de cada uma das faces

In [10]:
from random import randint

frequencia = [0] * 6

for _ in range(6000):
    res = randint(1, 6)
    frequencia[res - 1] += 1

print("Frequência de sorteio de cada face: ")
for i in range(6):
    print(f"Face {i + 1}: {frequencia[i]} vezes")

Frequência de sorteio de cada face:
Face 1: 1017 vezes
Face 2: 1029 vezes
Face 3: 961 vezes
Face 4: 990 vezes
Face 5: 1002 vezes
Face 6: 1001 vezes

5. Faça um algoritmo que simule a jogada de dois dados de 6 faces. O programa deve usar randint para rolar o primeiro dado e deve usar randint novamente para rolar o segundo dado. A soma das duas faces deve ser calculada. Assim: a soma variará de 2 a 12. O programa deve rolar 30.000 vezes e mostrar a frequência com que a soma (de 2 a 12) aparecem.  Verifique se o valor 7 corresponde a 1/6 das jogadas!

In [15]:
from random import randint 

freq = [0] * 13

for _ in range(30000):
    dado1 = randint(1, 6)
    dado2 = randint(1,6)
    soma = dado1 + dado2
    freq[soma] += 1

print("Frequência das somas ao rolar dois dados:")
for i in range(2, 13):
    print(f"Soma {i}: {freq[i]} vezes")

freq_sete = freq[7]
proporcao_sete = freq_sete / 30000

print(f"\nFrequência da soma 7: {frequ_sete} vezes ({proporcao_sete:.2%})")
print("O valor 7 corresponde a 1/6 das jogadas?" , "Sim" if abs(proporcao_sete - (1/6)) < 0.01 else "Não")

Frequência das somas ao rolar dois dados:
Soma 2: 833 vezes
Soma 3: 1679 vezes
Soma 4: 2456 vezes
Soma 5: 3335 vezes
Soma 6: 4258 vezes
Soma 7: 5031 vezes
Soma 8: 4159 vezes
Soma 9: 3308 vezes
Soma 10: 2460 vezes
Soma 11: 1666 vezes
Soma 12: 815 vezes

Frequência da soma 7: 5174 vezes (16.77%)
O valor 7 corresponde a 1/6 das jogadas? Sim

6. Faça um algoritmo que leia uma matriz 2x2 e imprima os seus elementos na ordem:

1,1 =

1,2 =

2,1 =

2,2 =

Obs: linha, coluna

In [18]:
matriz = [[0, 0], [0, 0]]

print("Digite os elementos da matriz 2x2:")
for i in range(2):
    for j in range(2):
        matriz[i][j] = int(input(f"Elemento {i + 1},{j + 1} = "))

for i in range (2):
    for j in range(2):
        print(f"{i + 1},{j+1} = ", matriz[i][j])

Digite os elementos da matriz 2x2:
1,1 =  4
1,2 =  6
2,1 =  1
2,2 =  3

7. Faça um algoritmo que leia os dados de uma matriz de 4 linhas e 4 colunas, composta de elementos reais, e calcule a soma dos elementos da diagonal principal da matriz.

In [19]:
matriz = [[float(input(f"Elemento {i + 1},{j + 1} = ")) for j in range(4)] for i in range(4)]

soma_diagonal = sum(matriz[i][i] for i in range(4))

print(f"Soma da diagonal principal: {soma_diagonal}")

Soma da diagonal principal: 20.0

8. Faça um algoritmo que receba uma matriz de 5x5 com números reais. Ao final o algoritmo deve calcular e mostrar a média dos elementos que estão nas linhas pares da matriz.

In [20]:
matriz = [[float(input(f"Elemento {i + 1},{j + 1} = ")) for j in range(5)] for i in range(5)]
media = sum(matriz[i][j] for i in range(0, 5, 2) for j in range(5)) / (5 * 2)
print(f"Média das linhas pares: {media}")

Média das linhas pares: 6.0

### Exercícios sobre Tuplas

9. Faça um algoritmo que armazenará os 10 primeiros números primos acima de 100 em uma trupla. Ao final, o algoritmo deve mostrar os valores dessa estrutura de dados.

In [22]:
primos = []
num = 101

while len(primos) < 10:
    primo = True
    for i in range(2, num):
        if num % i == 0:
            primo = False
            break
    if primo:
        primos.append(num)
    num += 1

tupla_primos = tuple(primos)
print(tupla_primos)

(101, 103, 107, 109, 113, 127, 131, 137, 139, 149)

### Exercícios sobre Dicionários

10. Faça um algoritmo que carregue um dicionário de 10 elementos onde a chave é o sobrenome da pessoa e o valor a sua idade.
Após a finalização da entrada, o algoritmo deve escrever o sobrenome da pessoa com maior idade.

In [23]:
dicionario = {}

for _ in range(10):
    sobrenome = input("Digite o sobrenome: ")
    idade = int(input("Digite a idade: "))
    dicionario[sobrenome] = idade

maior_idade_sobrenome = max(dicionario, key=dicionario.get)
print(f"Sobrenome da pessoa com maior idade: {maior_idade_sobrenome}")

Sobrenome da pessoa com maior idade: Cleber

11. Faça um algoritmo que carregue um dicionário contendo nome e idade (pelo menos 5 pares). Depois de carregar, mostre todos os nomes que tenham idade maior que a média das idades.

In [24]:
dicionario = {}

for _ in range(5):
    nome = input("Digite o nome: ")
    idade = int(input("Digite a idade: "))
    dicionario[nome] = idade

media_idade = sum(dicionario.values()) / len(dicionario)

print("Nomes com idade maior que a média:")
for nome, idade in dicionario.items():
    if idade > media_idade:
        print(nome)

Nomes com idade maior que a média:
Cleber
Antonio

12. Faça algoritmo que carregue duas listas de cinco elementos numéricos inteiros cada um. A partir dessas duas listas, crie um conjunto da união entre essas duas listas.

In [25]:
lista1 = []
lista2 = []

for i in range(5):
    num = int(input(f"Digite o elemento {i + 1} da primeira lista: "))
    lista1.append(num)

for i in range(5):
    num = int(input(f"Digite o elemento {i + 1} da segunda lista: "))
    lista2.append(num)

uniao = set(lista1) | set(lista2)

print("Conjunto da união das duas listas:", uniao)

Conjunto da união das duas listas: {1, 2, 3, 4, 5, 6}

## Fim da Aula 12